@media(max-width: 991.98px){
    .secao-com-texto{
        padding: 153px 25px;
    }

}    

@media(max-width: 768px){
    .painel h2{
        font-size: 3.5rem;
    }

    .contato{
        background-image: none;
        background-color: #D1A762;
    }

    .contato h2{
        margin-bottom: 46px;
    }

    .contato .texto{
        position: relative;
        text-align: center;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

@media(max-width: 720px){
    .ladrilho .grande,
    .ladrilho .medio{
        width: 100%;
    }

    .ladrilho .pequeno,
    .ladrilho .pequeno.grao{
        width: 50%;
    }

    .rodape{
        text-align: center;
        background-image: none;
        background-color: black;
    }

    .rodape .logo{
        display: block;
        
    }

    .rodape ul{
        display: block;
        width: 100%;
        margin: 122px 0;
    }

    .rodape ul li{
        display: block;
    }

    .rodape ul li a{
        font-size: 2rem;
    }

    .rodape .rede-sociais{
        float: none;
    }

    .rodape .copyright{
        margin-top: 28px;
    }
}

@media(max-width: 425px){
    .cabecalho .logo{
        display: block;
        margin: 0 auto;
    }
    .cabecalho .menu{
        position: static;
        text-align: center;
        width: 100%;
    }
    .cabecalho .menu ul li{
        display: block;
    }
    .cabecalho .menu ul li a{
        width: 100%;
        display: block;
    }

    .painel h2{
        font-size: 2.5rem;
    }
    
    .secao-com-texto h2{
        font-size: 3rem;
    }
    .secao-com-texto.onde-estamos p{
        font-size: 2rem;
    }

    .ladrilho .pequeno,
    .ladrilho .pequeno.grao{
        width: 100%;
        background-size: cover;
    }
}

